# Dirección del servidor de la base de datos MySQL (ejemplo: localhost)
DB_HOST=
# Credenciales de acceso a MySQL (Usuario y Contraseña)
DB_USER=
DB_PASSWORD=
# Nombre de la base de datos a utilizar en MySQL (ejemplo: chetsnutsfoods)
DB_NAME=
# Puerto en el que se ejecuta MySQL (ejemplo: 3306)
DB_PORT=
# Dominio del frontend (ejemplo: http://localhost:5173)
CORS_DOMINIO_FRONTEND=
# Puerto en el que se ejecuta el backend (ejemplo: 3000)
BACKEND_PORT=